@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.92%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.92%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 175.46 100% 23.33%;
    --primary-foreground: 166.15 76.47% 96.67%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 4.24% 46.27%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 354.74 100% 44.71%;
    --border: 240 5.88% 90%;
    --input: 240 5.88% 90%;
    --ring: 240 5.49% 64.31%;
    --radius: 0.875rem;
    --chart-1: 157.55 75.96% 64.12%;
    --chart-2: 160.75 100% 36.67%;
    --chart-3: 160.93 100% 29.61%;
    --chart-4: 162.64 100% 23.73%;
    --chart-5: 164.21 100% 18.63%;
  }

  .dark:root {
    --background: 240 10% 3.92%;
    --foreground: 0 0% 98.04%;
    --card: 240 5.88% 10%;
    --card-foreground: 0 0% 98.04%;
    --popover: 240 5.88% 10%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 176.84 100% 18.63%;
    --primary-foreground: 166.15 76.47% 96.67%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.49% 64.31%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 358.83 100% 69.8%;
    --border: 0 0% 100% / 10%;
    --input: 0 0% 100% / 15%;
    --ring: 240 4.24% 46.27%;
    --chart-1: 157.55 75.96% 64.12%;
    --chart-2: 160.75 100% 36.67%;
    --chart-3: 160.93 100% 29.61%;
    --chart-4: 162.64 100% 23.73%;
    --chart-5: 164.21 100% 18.63%;
  }
}
